* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:40px;
  font-family: "Manrope", sans-serif;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

.cardWrapper {
  background-color: #E5EAF0;
  width: 368px;
  box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 20px;
  gap: 16px;
  background-color: #FFFFFF;

  .cardImage {
    width: 336px;
    height: 152px;
    border-radius: 10px;
  }

  .cardTags {
    span {
      background-color: #F2EAFD;
      color: #7C19EE;
      padding: 6px 10px;
      max-width: 100px;
      overflow: hidden;
      border-radius: 20px;
      font-size: 10px;
    }
  }

  .cardText {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .title {
      font-size: 18px;
      font-weight: 800;
    }

    .description {
      font-size: 14px;
      font-weight: 200px;
      color: #394150;
    }
  }
}

.cardAuthor {
  margin-top: 2px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  background-color: #FFFFFF;
  padding: 20px 16px;
  height: 50px;
  color: #394150;

}